# Build and Release Folders
bin-debug/
bin-release/lostsax 
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/corestencity

# Executables
*.loa.ol.p
*.air.gold business small 
*.ipa.callbussniss
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
